
/*Padding Options*/
.down-padding{
	padding-bottom: 30px;
}
.top-bottom-padding{
	padding: 15px 0px;
	margin-top: 5px;
}
.panel-padding{
	padding: 0px 20px 15px 20px;
}
/*end of Padding options*/







